<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Paragraph Wrap"
            id="org.dadacoalition.paragraphwrap.commands.category">
      </category>
      <command
            categoryId="org.dadacoalition.paragraphwrap.commands.category"
            description="Wrap the current paragraph or selected text"
            id="org.dadacoalition.paragraphwrap.commands.wrap"
            name="Paragraph Wrap">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.dadacoalition.paragraphwrap.commands.wrap"
            class="org.dadacoalition.paragraphwrap.handlers.WrapParagraph">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.editors.text.TextEditor">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.dadacoalition.paragraphwrap.commands.wrap"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M3+Q"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.dadacoalition.paragraphwrap.commands.wrap"
               disabledIcon="icons/wrap-disabled.gif"
               icon="icons/wrap.gif"
               id="org.dadacoalition.paragraphwrap.wrap"
               label="Wrap paragraph">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="org.eclipse.ui.editors.text.TextEditor">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.dadacoalition.paragraphwrap.toolbars.sampleToolbar">
            <command
                  commandId="org.dadacoalition.paragraphwrap.commands.wrap"
                  disabledIcon="icons/wrap-disabled.gif"
                  icon="icons/wrap.gif"
                  id="org.dadacoalition.paragraphwrap.toolbars.wrap"
                  tooltip="Wrap current paragraph or selected text">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.dadacoalition.paragraphwrap.preferences.ParagraphWrapPreferences"
            id="org.dadacoalition.paragraphwrap.preferences.ParagraphWrapPreferences"
            name="ParagraphWrap">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dadacoalition.paragraphwrap.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
